* {
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;

}

ul {
    padding: 0;
}

button {
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
}

body {
    background-color: rgb(228, 218, 204);
    text-align: center;
}

.listContainer {
    background-color: rgb(252, 245, 235);
    width: 500px;
    margin: auto;
    border-radius: 20px;
    -webkit-box-shadow: 6px 7px 15px 3px rgba(0,0,0,0.24); 
    box-shadow: 6px 7px 15px 3px rgba(0,0,0,0.24);
}


.header {
    height: 100px;
    padding: 8px;
    /* background-color: rgb(252, 245, 235); */
    background-color: antiquewhite;
    font-size: 50px;
    border-radius: 20px 20px 0 0;
    
}

.items {
    height: 500px;
    overflow-y: auto;

}

.item {
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
}

.item__divider {
    width: 90%;
    height: 1px;
    background-color: lightgray;
    margin: auto;
}

.item__delete {
    font-size: 16px;
    transition: all 300mx ease-in;
}

.item__delete:hover{
    color: red;
    transform: scale(1.1)
}


.footer {
    background-color: antiquewhite;
    height: 100px;
    border-radius: 0 0 20px 20px;
}


.footer__input {
    border: none;
    width: 100%;
    padding: 0;
    height: 32px;
    outline: none;
    padding: 0 16px;
}

.footer__button {
    width: 48px;
    height: 48px;
    margin: 10px;
    font-size: 28px;
    background-color: black;
    border-radius: 50%;
    color: white;
    transition: transform 300ms ease-in;
}

.footer__button:hover {
    transform: scale(1.1);
}




