body {
    font-family: 'Anton', sans-serif;
}

.listContainer {
    background-color: rgb(252, 245, 235);
    width: 500px;
    height: 1000px;
    text-align: center;
    transform: translateX(50%);
}

.topContainer {
    background-color: antiquewhite;
    height: 100px;
    
}

.topText {
    line-height: 100px;
    font-size: 50px
}

.listMiddle {
    background-color: rgb(249, 249, 249);
    height: 800px;
}

.bottomContainer {
    background-color: antiquewhite;
    height: 100px;
}


.bottomInputBox {
    border: none;
    width: 100%;
    padding: 0;
    height: 29px;
}

input:focus{
    outline: none;
}


